* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: 'Inter', sans-serif;
}

ul{
    margin:0;
    padding:0;
}

nav {
    grid-area:menu;
    background-color: #88BBD6;
    display: inline-flex;
}

nav ul {
    margin-left:0;
    padding-left:0;
    list-style-type: none;
    display: inline-block;
    width:100%;
}

nav ul a {
    display: inline-block;
    padding: 22px 10px 3px 22px;
    text-decoration: none;
    color: #000000;
}

nav ul li {
    display:inline;
}

#menu {
    text-align:left;
    padding-left: 50px;
}

#login {
    text-align:right;
    padding-right: 50px;
}

main {
    grid-area:main;
    background-color:#E9E9E9;
    text-align:center;
}

main h1 {
    font-size: 35px;
    text-align: center;
}

main p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    max-width:100%;
}

main table {
    width: 100%;
    font-size: 18px;
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #88BBD6;
    border-bottom: 2px solid #88BBD6;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
                0px 10px 20px rgba(0,0,0,0.05),
                0px 20px 20px rgba(0,0,0,0.05),
                0px 30px 20px rgba(0,0,0,0.05);
}

main table tr:nth-child(odd){
    background: #d2ebf7;
}

main table tr:nth-child(even){
    background: #e0f0f8;
}

main table th {
    height: 30px;
    background-color: #88BBD6;
}

main table tr:hover {
    background-color: #E9E9E9;
}

.submain {
    grid-area:submain;
    background-color:#E9E9E9;
    text-align:center;
}

.submain h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.submain ul {
    font-size: 18px;
    list-style-type: none;
}

.submain ul li {
    text-shadow: 1px 1px #88BBD6;
}

aside {
    grid-area:aside;
    background-color:#CDCDCD;
    text-align:center;
}

aside h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

aside ul {
    font-size: 18px;
    list-style-type: none;
}

aside ul li {
    text-shadow: 1px 1px #88BBD6;
}

aside table {
    width: 100%;
    font-size: 18px;
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #88BBD6;
    border-bottom: 2px solid #88BBD6;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
                0px 10px 20px rgba(0,0,0,0.05),
                0px 20px 20px rgba(0,0,0,0.05),
                0px 30px 20px rgba(0,0,0,0.05);
}

aside table tr:nth-child(odd){
    background: #d2ebf7;
}

aside table tr:nth-child(even){
    background: #e0f0f8;
}

aside table th {
    height: 30px;
    background-color: #88BBD6;
}

aside table tr:hover {
    background-color: #E9E9E9;
}

footer {
    grid-area:footer;
    color: black;
    background-color:#88BBD6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 30px 20px 30px;
    text-align:center;
}

footer h3 {
    font-size: 20px;
}

body {
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-rows:50px 1fr 50px;
    grid-template-columns:1fr 3fr 1fr;
    grid-template-areas:
        'menu    menu    menu'
        'main    main    aside'
        'submain submain aside'
        'footer  footer  footer';
    background-color:#E9E9E9;
}

body > * {
    font-size:30px;
    padding:10px;
}

@media (max-width:600px) {
    body {
        display:grid;
        width:100vw;
        height:100vh;
        grid-template-columns:100vw;
        grid-template-rows:50px 1fr 1fr 1fr 50px;
        grid-template-areas:
            'menu'
            'main'
            'submain'
            'aside'
            'footer';
        grid-gap:10px;
        background-color:rgb(0, 0, 0);
        padding:10px;
    }

    nav {
        padding: 0px;
        margin: 0px;
    }

    nav a {
        font-size: 20px;
    }

    .cards {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
}

@media (min-width:601px) {
    body {
        display:grid;
        width:100vw;
        height:100vh;
        grid-template-rows:100px 1fr 1fr 100px;
        grid-template-columns:1fr 3fr 1fr;
        grid-template-areas:
            'menu    menu    menu'
            'main    main    aside'
            'submain submain aside'
            'footer  footer  footer';
        grid-gap:0vw;
        background-color:#C5C6C7;
        padding:0px;
    }


}

.secondCards {
    margin-top:50px;
}
 .cards {
    display: flex;
    justify-content: space-evenly;
 }

.card {
    margin-top:20px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 250px;
    width: 180px;
    background-color:#638699;
    display:inline-block;
    text-align:center;
}

.card img {
    height: 200px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardLabel {
    padding: 2px 16px;
    font-size: 18px;
    color: white;
}

.sub_nav{
    text-align: 0;
    margin: 70px 0;
    padding-left: 0;
    padding-right: 0;
    list-style-type: none;
    width: auto;
}

.sub_nav ul a{
    padding: 3px 10px 3px 22px;
    text-decoration: none;
    color: #FFF;
    border-right: 1px solid #FFF;
}

.cardCal {
    margin: 20px 0;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 250px;
    width: 180px;
    background-color:#638699;
    display:inline-block;
    text-align:center;
}

.cardsCal {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardCal img {
    height: 200px;
}
/* On mouse-over, add a deeper shadow */
.cardCal:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (min-width:601px) {
    .bodyPes {
        display:grid;
        width:100vw;
        height:100vh;
        grid-template-rows:100px 1fr 1fr 100px;
        grid-template-columns:1fr 3fr 1fr;
        grid-template-areas:
            'menu    menu    menu'
            'aside    main    main'
            'aside submain submain'
            'footer  footer  footer';
        grid-gap:0vw;
        background-color:#C5C6C7;
        padding:0px;
    }
}
  
  /* Style the search field */
  form.search_by_name input[type=text] {
    margin: 30px 0;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.search_by_name button {
    margin: 30px 0;
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.search_by_name button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.search_by_name::after {
    content: "";
    clear: both;
    display: table;
  }

  .checkBoxs{
    float: left;
  }

  .checkBox{
      text-align: left;
  }
.navAside{
 background-color: #CDCDCD;
} 

.navAside ul > li {
    display: block;
    position: relative;
    }
.navAside > ul > li ul {
    display: none;
    }
    

.navAside > ul > li ul {display: none;}
.navAside > ul li:hover > ul {display:block;}

.inputSubmit{
    display: block; 
    margin: 1rem auto; 
    padding: 0.5rem 1rem;
}
