/* NAVBAR */

main {
    margin:20px;
    grid-area: main;
}

main img {
    height: 150px;
}

aside {
    margin:20px;
    grid-area: aside;
}

aside ul{
    
}

.maisPesquisados {
    margin:20px;
    grid-area: maisPesquisados;
}

.navbar {
    grid-area: menu;
    background-color:#8E8D8A;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background-color: #D8C3A5;
    color: black;
}

.navbar a.active {
    background-color: #C5AE8E;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'menu menu menu'
        'main main aside'
        'maisPesquisados maisPesquisados aside';
}

body {
    margin: 0;
    font-family: 'Handlee', cursive;
    background-color:#EAE7DC;
}
